.schedule{
  padding: 10px;

  .title{
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }

  .schedule-item-top{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .name-box{
      .blur{
        color: blue;
      }
      .red{
        color: red;
      }
      .name{
        color: white;
        margin-left: 20px;
      }
     
    }
    .figure{
      color: white;
    }
  }
  p{
    margin: 0;
  }
}