@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.backgroundLayer__3kiCJ{
  opacity: 0.8!important;
}
.ant-layout-content{
  height: auto;
  flex: none;
}
/*.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content{*/
/*  overflow: hidden;*/
/*}*/
/*.ant-layout-content{*/
/*  height: auto;*/
/*  flex: none;*/
/*}*/
/*.ant-anchor-wrapper{*/
/*  overflow: unset;*/
/*}*/
.ant-btn{
  border-radius: 50px;
}
.backgroundLayer__36t43{
  opacity: 0.7!important;
}



